@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Seller</h4>
    <hr />
    <dl >
        <dt>
            @Html.DisplayNameFor(Model => Model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.baseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.baseSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success"> Edit</a>
    <a asp-action="Index">Back to list</a>

</div>
